<suite name="Input Forms">
    <test name="Simple Forms">
        <classes>
            <class name="tests.input_forms.SimpleFormTests">Simple Form Tests</class>
            <class name="tests.input_forms.CheckboxTests">Checkbox Tests</class>
            <class name="tests.input_forms.RadioButtonsTests">Radio Buttons Tests</class>
            <class name="tests.input_forms.SelectDropdownTests">Select Dropdown Tests</class>
            <class name="tests.input_forms.AjaxFormTests">Ajax Form Tests</class>
            <class name="tests.input_forms.JQuerySelectDropdownTests">JQuery Select Dropdown Tests</class>
        </classes>
    </test>
    <test name="Date Pickers">
        <classes>
            <class name="tests.date_pickers.BootstrapDatePickerTests">Bootstrap Date Picker Tests</class>
            <class name="tests.date_pickers.JQueryDatePickerTests">JQuery Date Picker Tests</class>
        </classes>
    </test>
    <test name="Tables">
        <classes>
            <class name="tests.table.TablePaginationTests">Table Pagination Tests</class>
        </classes>
    </test>
</suite>